.hoverimage {
  height: 0px;
  width: 0px;
  position: fixed;
  pointer-events: none;
  border: 10px white;
  border-radius: 50px;
  transition: width 0.5s, height 0.5s, transform .5s;
  object-fit: cover;
}

span.photo-hoverable {
  color: red;
}
