/* general styling rules */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(185, 219, 219);
}

h1 {
  font: "Ubuntu";
  color:rgb(185, 219, 219);
}

p {
  padding: 10px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color themes */
.color-theme-1 {
  background-color: coral;
}

.color-theme-2 {
  background-color: #50c8ff;
}

.color-theme-3 {
  background-color: rgb(234, 115, 238);
}

.corner-blob-1 {
  background-image: url('./svg/wave-haikei.svg');
}

.front {
  z-index: 99;
}

h1.page-title {
  color: white;
  position: absolute;
  right: 20px;
  font-size: 100px;

}
/* specific DIV styling rules */

div.main-content {
  display: flex;
  align-items: center;
  justify-items: center;
}
div.center {
  margin: auto;
  
}

div.color-panel{
  position: absolute;
  z-index: 1;
}

.drop-shadow:hover {
  box-shadow: -6px 6px black;
  transform: translate(3px, -3px);
}

div.top-bar {
  aspect-ratio: 960/300;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}


div.rounded {
  border-radius: 10px;
}

div.raised {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* Anchor styling rules*/

a.nostyle:link {
  text-decoration: inherit;
  
  
}

a.nostyle:visited {
  text-decoration: inherit;
  
}

/* IMG styling rules */

img.center {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

img.circular-square {
  border-radius: 50%;
  border: 0px solid;
  border-color: darkgrey;
  max-width: 300px;
  height: 100%;
  width: auto;
  box-shadow: -5px 5px 19px black;
}

img.subtle-background {
  opacity: 50%;
}

/* HEADER styling rules */

h1.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}


.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 46%), 1fr));
  padding: 60px;
  grid-gap: 3rem;
  height: auto;

}
.grid-container > a {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
  transition: .3s ease;
}


#header-color-panel-top {
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  
}

#header-color-panel-bottom{
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  
}

#greeting-text {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  text-align: center;
}

#home-top {
  height: 350px;
  width: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}



/* 
this is some kind of coding joke haha code code code
ODjoaijdslkjakdf dkfiejal dcode for each yaydahamdk cs major lmao stack over flowww
*/