/* general styling rules */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
  --mauve-taupe: #855a67ff;
  --heliotrope-gray: #af99a0ff;
  --light-gray: #d8d8d8ff;
  --ivory: #ffffeaff;
  --prussian-blue: #0d324dff;
  --deep-space-sparkle: #3d5a6cff;
  --teal-blue: #497583ff;
  --blue-green: #6297a7ff;
  --rich-black-fogra-39: #020202ff;
  --off-white: #fffff6;

  --main-background: var(--heliotrope-gray);
  --main-title: var(--prussian-blue);
  --page-title: var(--light-gray);
  --paragraph-text: var(--rich-black-fogra-39);
  --hover-shadow: var(--prussian-blue);
  --shadow: var(--rich-black-fogra-39);
  --container: var(--off-white);
  --text-hover-shadow: var(--rich-black-fogra-39);
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

h1 {
  font: "Ubuntu";
  color: var(--main-title);
}

p {
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* color themes */

.top-bar-1 {
  background-image: url("./svg/wave-haikei.svg");
}

.top-bar-2 {
  background-image: url("./svg/stacked-steps-haikei.svg");
}


.front {
  z-index: 99;
}

h1.page-title {
  color: var(--page-title);
  position: absolute;
  right: 5%;
  font-size: 400%;
}

h2.summary-title {
  text-decoration: underline;
  margin: 10px;
  color: var(--main-title);
}

p.important-paragraph {
  font-size: 25px;
  color: var(--paragraph-text);
  text-decoration: none;
}
/* specific DIV styling rules */

div.content-container {
  padding: 10px;
  margin: 0px;
}

div.baseline-align {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
div.content-left {
  justify-content: flex-start;
}
div.mid-align {
  display: flex;
  align-items: vertical;
}

div.experience-logo {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--light-gray);
  transition: transform 0.15s;
}
div.experience-logo:hover {
  transform: scale(1.1);
}

div.services-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 50%;
}

a.service {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  transition: transform 0.15s;
}

a.service:hover {
  transform: scale(1.1);
}

a.service > img {
  border-radius: 10px;
  width: 100%;
}

div.main-content {
  display: flex;
  align-items: center;
  justify-items: center;
}
div.center {
  margin: auto;
}

div.color-panel {
  position: absolute;
  z-index: 1;
}

.drop-shadow:hover {
  box-shadow: -6px 6px var(--hover-shadow);
  transform: translate(3px, -3px);
}

div.top-bar {
  height: 25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 325px;
}

/* Anchor styling rules*/

a.nostyle:link {
  text-decoration: none;
}

a.nostyle:visited {
  text-decoration: none;
}

/* IMG styling rules */

img.center {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

img.circular-square {
  border-radius: 50%;
  border: 0px solid;
  border-color: var(--shadow);
  max-width: 300px;
  height: 100%;
  width: auto;
  box-shadow: -5px 5px 19px var(--shadow);
}

img.subtle-background {
  opacity: 50%;
}

.flip-icon {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.align-right-bottom {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: transform 1s;
}

.align-right-bottom:hover {
  transform: translate(3px, 0);
}

.grid-container > a:hover .align-right-bottom {
  display: block;
}


/* HEADER styling rules */

h1.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.content-block {
  border-radius: 10px;
  background-color: var(--container);
  box-shadow: 0 3px 10px var(--shadow);
  margin: 0px;
  padding-top: 0px;

}

.columb-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 60px;
  grid-gap: 3rem;
  height: auto;
}

.triple-columb {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 60px;
  grid-gap: 3rem;
  height: auto;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 46%), 1fr));
  padding: 60px;
  grid-gap: 3rem;
  height: auto;
}
.grid-container > a {
  font-size: 30px;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: var(--container);
}



h2.skill-title {
  margin-bottom: 0px;
  margin-left: 10px;
}

#header-color-panel-top {
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

#header-color-panel-bottom {
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
}

#greeting-text {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  text-align: center;
}

#home-top {
  height: 350px;
  width: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-margin {
  margin: 0px;
}

ul.contact-info-list > li{
  padding: 5px;
  text-align: center;
}

ul.contact-info-list{
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;

}
footer.contact {
  background-color: var(--rich-black-fogra-39);
  color: white;
}

.footer-title {
  margin: 0px;
  padding: 20px;
  padding-bottom: 0px;
  font-size: 40px;
}
/* 
this is some kind of coding joke haha code code code
ODjoaijdslkjakdf dkfiejal dcode for each yaydahamdk cs major lmao stack over flowww
*/
