/* general styling rules */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(185, 219, 219);
}

h1 {
  font: "Ubuntu";
  color:darkgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color themes */
.color-theme-1 {
  background-color: coral;
}

.color-theme-2 {
  background-color: #50c8ff;
}

.color-theme-3 {
  background-color: rgb(234, 115, 238);
}

/* specific DIV styling rules */

div.center {
  margin: auto;
  
}

div.color-panel{
  position: absolute;
  z-index: 1;
}

div.frame {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* IMG styling rules */

img.center {
  max-height: 100%;
  max-width: 100;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

img.circular-square {
  border-radius: 50%;
  border: 0px solid;
  border-color: darkgrey;
  width: 30%;
  max-width: 180px;
  height: auto;
  box-shadow: -5px 5px 19px black;
}

img.subtle-background {
  opacity: 50%;
}

/* HEADER styling rules */

h1.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 70px;
  grid-gap: 3rem;
  height: auto;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*
.grid-item-1{
   grid-row-start: 1;
   grid-row-end: 3;
}

.grid-item-3{
  grid-row-start: 2;
  grid-row-end: 4;
}
*/



/* specific ID styling rules */


#header-color-panel-top {
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  
}

#header-color-panel-bottom{
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  
}

#greeting-text {
  position: absolute;
  top: 83%;
  z-index: 2;
  width: 100%;
}

#home-top {
  height: 300px;
}

/* 
this is some kind of coding joke haha code code code
ODjoaijdslkjakdf dkfiejal dcode for each yaydahamdk cs major lmao stack over flowww
*/