.nav-container {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 2;
}

.nav-container.dropdown-mode {
    width: 90px;
    height: 90px;
    left: 20px;
    top: 20px;
    z-index: 2;
}

a.nav-image-holder {
    height: 100%;
    width: 100%
}

div.nav-container > a {
  margin: 0;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: transform 0.3s .5s, text-shadow 0.5s ease;
}

/*EXPLOSION ANIMAITON*/
.nav-container.explosion-mode:hover > .nav-1 {
  transform: translate(calc(-50% - 150px), 0) scale(1.7);
  transition: .2s ease 0s;
}

.nav-container.explosion-mode:hover > .nav-2 {
  transform: translate(calc(-50% - 129.9px), -129.9px) scale(1.7);
  transition: .2s ease 0s;
}

.nav-container.explosion-mode:hover > .nav-3 {
  transform: translate(calc(-50% + 129.9px), -129.9px) scale(1.7);
  transition: .2s ease 0s;
}

.nav-container.explosion-mode:hover > .nav-4 {
  transform: translate(calc(-50% + 150px), 0px) scale(1.7);
  transition: .2s ease 0s;
}

/*DROPDOWN ANIMATION*/
.nav-container.dropdown-mode:hover > .nav-1 {
    transform: translate(-50%, calc(100% + 2.5em)) scale(1.7);
    transition: .2s ease 0s;
  }
  
  .nav-container.dropdown-mode:hover > .nav-2 {
    transform: translate(-50%, calc(100% + 4.5em)) scale(1.7);
    transition: .2s ease 0s;
  }
  
  .nav-container.dropdown-mode:hover > .nav-3 {
    transform: translate(-50%, calc(100% + 6.5em)) scale(1.7);
    transition: .2s ease 0s;
  }
  
  .nav-container.dropdown-mode:hover > .nav-4 {
    transform: translate(-50%, calc(100% + 8.5em)) scale(1.7);
    transition: .2s ease 0s;
  }

.nav-container > a:hover {
    text-shadow: -2px 2px rgb(49, 49, 49);
}